.usa-header {  
    .usa-logo {
      display: flex;
      flex-wrap: wrap;
      align-items: self-end;
      font-size: 1.125rem;
      line-height: 1.7;  

      @include at-media($theme-header-min-width)  {
        font-size: 2.13rem;
        line-height: 1;
        em {
            margin-top: .25em;
        }
      }
      .usa-logo-img {
        float: left;
        height: units(5);
        margin-right: units(1);
  
        @include at-media($theme-header-min-width) {
          margin-top: 0;
          height: units(6);
        }
  
        + .usa-logo__text {
          float: left;
        }
      }
    }
  
    &.usa-header--extended .usa-logo-img {
      @include at-media($theme-header-min-width) {
        height: units(9);
      }
    }
  }
