/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;
@import '_components/header';
@import '_components/banner';

html, body {
    height: 100%;
}

.flex-shrink-0 {
    flex-shrink: 0;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}
.flex-fill {
    flex: 1 0 auto;
}