/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;
@import '_components/header';
@import '_components/banner';
@import '_components/spinner';

html, body {
    height: 100%;
    line-height: line-height('body', 6);

    // reset the process current step icon class's line height to avoid positioning towards bottom issue
    .usa-step-indicator__current-step {
        line-height: initial;
    }
}


.flex-shrink-0 {
    flex-shrink: 0;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}
.flex-fill {
    flex: 1 0 auto;
}

/* global h4 headings are sans */
 
h4 {
    @include u-font('sans', $theme-type-scale-sm)
 }

.usa-prose {
    h4 {
       @include u-font('sans', $theme-type-scale-sm)
    }
 
    hr {
       border-color: color('base-lighter')
    }
 }

 // based on new design, h1-h3 are using Merriweather and use base darkest color
h1, h2, h3{
    font-family: family('serif');
    color: color('base-darkest');
  }
  
h2 {
    font-size: 1.75em;
  }
 
// using legend instead of headers to address accessibily issue, making lengend (quiz question) same css style with .usa-prose h3 header
.quiz-question{
    font-family: family('serif');
    color: color('base-darkest');
    font-weight: 700;
    font-size: 1.34em;
    line-height: 1.2;
}

  