.bg_smartpay_cool_grey {
  background-color:#465166;
}

// purchase banner background color
.color-sp-purchase-medium{
  background-color: #900028;
}

// fleet banner backgroud color
.color-sp-fleet-dark{
  background-color: #005748;
}