---
---
<div class="usa-footer usa-footer--slim">
  <div class="usa-footer__secondary-section ">
    <nav class="usa-footer__nav" aria-label="Footer navigation">
    <div class="usa-footer__primary-container grid-row grid-gap-1">
      <ul class="tablet:grid-col footer_list">
        <li class="padding-right-2 tablet:grid-col tablet:padding-right-0">For assistance with training related questions, contact us at <a href="mailto:gsa_smartpay@gsa.gov">gsa_smartpay@gsa.gov</a>.</li>
        <li class="padding-left-2 tablet:grid-col footer_seperator tablet:padding-left-4" >Visit the <a href="https://smartpay.gsa.gov/" >GSA SmartPay program website</a> for more information about our commercial payment solution program.</li>
      </ul>
    </div>
  </nav>
  </div>
</div>
<style>
  .footer_list {
    list-style-type:none; 
    display:flex;
  }
  .footer_seperator {
  border-left: 1px solid black;
  
  }
  .usa-footer__secondary-section a {
    color:#005ea2;
}
 </style>