---
import facebook_icon from "../assets/images/facebook.svg"
import twitter_icon from "../assets/images/twitter.svg"
import linkedin_icon from "../assets/images/linkedin.svg"
import link_icon from "../assets/images/link.svg"
import mail_icon from "../assets/images/mail.svg"
---
    <div class="usa-footer usa-footer--slim">
    <div class="usa-footer__secondary-section ">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
  
      <div class="usa-footer__primary-container  grid-row  grid-gap-1 ">
        <div class="grid-col-auto">
          <a href="https://www.facebook.com/GSASmartPayNews/" class="usa-social-link">
            <img
              class="usa-social-link__icon"
              src={ facebook_icon }
              alt="GSA SmartPay's Facebook account"
            />
          </a>
        </div>
        <div class="grid-col-auto">
          <a href="https://twitter.com/GSASmartPayNews" class="usa-social-link">
            <img
              class="usa-social-link__icon"
              src={ twitter_icon }
              alt="GSA SmartPay's Twitter account"
            />
          </a>
        </div>
        <div class="grid-col-auto">
          <a href="https://www.linkedin.com/company/gsasmartpaynews" class="usa-social-link">
            <img
              class="usa-social-link__icon"
              src={ linkedin_icon }
              alt="GSA SmartPay's LinkedIn account"
            />
          </a>
        </div>
        <div class="grid-col-auto">
          <a href="https://interact.gsa.gov/" class="usa-social-link">
            <img
              class="usa-social-link__icon"
              src={ link_icon }
              alt="GSA Interact"
            />
          </a>
        </div>
        <div class="grid-col-auto">
          <a href="mailto:gsa_smartpay@gsa.gov" class="usa-social-link">
            <img
              class="usa-social-link__icon"
              src={ mail_icon }
              alt="Email GSA SmartPay"
            />
          </a>
        </div>
      </div>
    </nav>
    </div>
  </div>
