---
    const { hero_image } = Astro.props;
---

<section class:list={['padding-y-4', 'bg_smartpay_cool_grey']} >
    <div class="grid-container">
    <div class="grid-row">
        <h1 class="usa-hero__heading tablet:grid-col">
        <span class="usa-hero__heading--alt">
            <slot></slot>
        </span>
        </h1>
    </div>
    <div class="grid-row">
        <p v-if="$slots.subheader" class="margin-bottom-0 tablet:grid-col text-white">
            <slot name="subheader"></slot>
        </p>
    </div>
    </div>
</section>

