---
    const { hero_image } = Astro.props;
---

<section class="usa-hero padding-y-4" style={`background-image: url(${hero_image}`}>
    <div class="grid-container">
    <div class="grid-row">
        <h1 class="usa-hero__heading tablet:grid-col-4">
        <span class="usa-hero__heading--alt">
            <slot></slot>
        </span>
        </h1>
    </div>
    <div class="grid-row">
        <p v-if="$slots.subheader" class="margin-bottom-0 tablet:grid-col-5">
            <slot name="subheader"></slot>
        </p>
    </div>
    </div>
</section>

