---
    const { hero_image, background_class = 'bg-primary' } = Astro.props;
    const style = hero_image ? `background-image: url(${hero_image}`: 'background-image: none'
---

<section class:list={['padding-y-4', `${ background_class }`, { 'usa-hero': hero_image }]} style={style}>
  <div class="grid-container">
    <div class="grid-row">
      <p v-if="$slots.subheader" class="usa-hero__heading--alt margin-bottom-0 tablet:grid-col-8">
          <slot name="subheader"></slot>
      </p>
    </div>
    <div class="grid-row">
        <h1 class="usa-hero__heading font-heading-2xl tablet:grid-col-12 ">
        <span class="usa-hero__heading--alt">
            <slot></slot>
        </span>
        </h1>
    </div>
  </div>
</section>

