---

---
<aside
  class="usa-summary-box padding-y-1 tablet:grid-col-10"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body ">
    <div class="usa-summary-box__text">
      <slot />  
    </div>
  </div>
</aside>