---
import BaseLayout from '@layouts/BaseLayout.astro';
import Hero from '@components/Hero.astro';
import AuthRequired from '@components/AuthRequired.vue';

const pageTitle = "Administration Dashboard";

---
<BaseLayout title={pageTitle}>
  <Hero>
    {pageTitle}
  </Hero>

  <AuthRequired client:only>
    <p>This is some content that requires auth</p>
  </AuthRequired>
</BaseLayout>
