---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import AdminSearchUser from '@components/AdminSearchUser.vue';
// import AuthRequired from '@components/AuthRequired.vue';
// import AdminIndex from '@components/AdminIndex.vue';

const pageTitle = "Administration Dashboard";

---
<BaseLayout title={pageTitle}>
  <HeroTraining background_class='bg_smartpay_cool_grey'>
    Admin Panel
    <span slot="subheader">
        Administrators
    </span>
  </HeroTraining>
  <AdminSearchUser client:only />
  <!-- <AuthRequired client:only>
    <AdminIndex client:only />
  </AuthRequired>
   -->
</BaseLayout>