---
import BaseLayout from '@layouts/BaseLayout.astro';
import Hero from '@components/Hero.astro';
import GlobalMessage from '@components/GlobalMessage.vue'
import AuthTest from '@components/AuthTest.vue';

const pageTitle = "Administration Dashboard";

---
<BaseLayout title={pageTitle}>
  <Hero>
    Administration Dashboard
  </Hero>

  <div class="grid-container">
    <GlobalMessage client:only/>
    <AuthTest client:only/>
  </div>
</BaseLayout>
