---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import CertificateIndex from '@components/CertificateIndex.vue';

const pageTitle = "Access Certificates";
---
<BaseLayout title={pageTitle}>
    <HeroTraining background_class='bg_smartpay_cool_grey'>
      Access Past Certificates
      <span slot="subheader">
          Card/Account Holders, Approving Officials, and Program Coordinators
      </span>
    </HeroTraining>
    <CertificateIndex client:load />
</BaseLayout>
