---
import BaseLayout from '@layouts/BaseLayout.astro';
import TrainingAccounts from '@components/TrainingAccounts.astro';
import Hero from '@components/Hero.astro';
import GlobalMessage from '@components/GlobalMessage.vue'

const pageTitle = "GSA Training";

const card_holders = [
        {"header":"Travel Training", "img_src":"images/smartpay-blue-travel-plain.svg", "text":"Learn about the basics about your role and responsibility as a card/account holder, the Federal Travel Regulations (FTR), and other government travel policies.","training_link_text":"Access the travel training","training_link_name":"training_travel/", "quiz_link_name":"quiz/training_travel/", "aria_label": "Access the travel training for card/account holders"},
        {"header":"Purchase Training", "img_src":"images/smartpay-red-purchase-plain.svg", "text":"Learn about the basics about your role and responsibility as a card/account holder, the Federal Travel Regulations (FTR), and other government travel policies.","training_link_text":"Access the purchase training","training_link_name":"training_purchase/","quiz_link_name":"quiz/training_purchase/", "aria_label": "Access the purchase training for card/account holders"}
    ]

const coordinators = [
        {"header":"Travel Training", "img_src":"images/smartpay-blue-travel-plain.svg", "text":"Learn about the basics about your role and responsibility as a card/account holder, the Federal Travel Regulations (FTR), and other government travel policies.","training_link_text":"Access the travel training","training_link_name":"training_travel_pc/", "quiz_link_name":"quiz/training_travel_pc/","aria_label": "Access the travel training for program coordinators"},
        {"header":"Purchase Training", "img_src":"images/smartpay-red-purchase-plain.svg", "text":"Learn about the basics about your role and responsibility as a card/account holder, the Federal Travel Regulations (FTR), and other government travel policies.","training_link_text":"Access the purchase training","training_link_name":"training_purchase_pc/","quiz_link_name":"quiz/training_purchase_pc/", "aria_label": "Access the purchase training for program coordinators"},
        {"header":"Fleet Training", "img_src":"images/smartpay-green-fleet-plain.svg", "text":"Learn about the basics about your role and responsibility as a card/account holder, the Federal Travel Regulations (FTR), and other government travel policies.","training_link_text":"Access the fleet training","training_link_name":"training_fleet_pc/","quiz_link_name":"quiz/training_fleet_pc/", "aria_label": "Access the fleet training for program coordinators"}      
    ]
---
<BaseLayout title={pageTitle}>
    <Hero>
        Complete Your GSA SmartPay® Training
        <span slot="subheader">
            We offer GSA SmartPay training to all agency card/account holders, approving officials, and program coordinators. 
        </span>
    </Hero>

    <div class="grid-container" data-test="pre-submit">
      <GlobalMessage client:only/>

        <h2>Select Your Training Course</h2>
        <p>
          Each training course takes approximately 45 minutes to complete and is worth 1 CLP. To receive credit and your certificate, you must pass your quiz with a score of 75% or higher.
        </p>
        <h3>
          Training for Card/Account Holders and Approving Officials
        </h3>
        <TrainingAccounts items={card_holders} />
        <h3>
            Training for Program Coordinators
          </h3>
        <TrainingAccounts items={coordinators} />
    </div>
</BaseLayout>
