---
import BaseLayout from '../layouts/BaseLayout.astro';
import TrainingAccounts from '../components/TrainingAccounts.astro';
import Hero from '../components/Hero.astro';
import hero_image from '../assets/images/Training_TravelAH_Hero.jpg';
const pageTitle = "GSA Training";

const card_holders = [
        {"header":"Travel Training", "img_src":"images/smartpay-blue-travel-plain.svg", "text":"Learn about the basics about your role and responsibility as a card / account holder, the Federal Travel Regulations (FTR), and other government travel policies.","link_text":"Access the travel training","link_name":"training/travel_training"},
        {"header":"Purchase Training", "img_src":"images/smartpay-red-purchase-plain.svg", "text":"Learn about the basics about your role and responsibility as a card / account holder, the Federal Travel Regulations (FTR), and other government travel policies.","link_text":"Access the purchase training","link_name":"training/purchase_training"}
    ]

const coordinators = [
        {"header":"Travel Training", "img_src":"images/smartpay-blue-travel-plain.svg", "text":"Learn about the basics about your role and responsibility as a card / account holder, the Federal Travel Regulations (FTR), and other government travel policies.","link_text":"Access the travel training","link_name":"training/travel_training_pc"},
        {"header":"Purchase Training", "img_src":"images/smartpay-red-purchase-plain.svg", "text":"Learn about the basics about your role and responsibility as a card / account holder, the Federal Travel Regulations (FTR), and other government travel policies.","link_text":"Access the purchase training","link_name":"training/purchase_training_pc"},
        {"header":"Fleet Training", "img_src":"images/smartpay-green-fleet-plain.svg", "text":"Learn about the basics about your role and responsibility as a card / account holder, the Federal Travel Regulations (FTR), and other government travel policies.","link_text":"Access the fleet training","link_name":"training/fleet_training_pc"}      
    ]
---
<BaseLayout pageTitle={pageTitle}>
    <Hero hero_image={hero_image}>
        Complete Your GSA SmartPay Training
        <span slot="subheader">
            We offer SmartPay training to all agency card / account holders, approving officials, and program coordinators. 
        </span>
    </Hero>

    <div class="grid-container" data-test="pre-submit">
        <h2>Select Your Training Course</h2>
        <p>
          Each training course takes approximately 45 minutes to complete and is worth 1 CLP. To receive credit and your certificate, you must pass your quiz with a score of 75% or higher.
        </p>
        <h3>
          Training for Card / Account Holders and Approving Officials
        </h3>
        <TrainingAccounts items={card_holders} />
        <h3>
            Training for Program Coordinators
          </h3>
        <TrainingAccounts items={coordinators} />
    </div>
</BaseLayout>
