---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import TrainingReportIndex from '@components/TrainingReportIndex.vue';

const pageTitle = "A/OPCs Training Reports";
---
<BaseLayout title={pageTitle} description="Allows A/OPCs to create training reports relating to their cardholders and account holders.">
    <HeroTraining background_class='bg_smartpay_cool_grey'>
      Training Reports
      <span slot="subheader">
          A/OPCs
      </span>
    </HeroTraining>
    <TrainingReportIndex client:only="vue" />
</BaseLayout>
