---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import AuthRequired from '@components/AuthRequired.vue';
import AdminGSPC from '@components/AdminGSPC.vue';

const pageTitle = "Administrators GSA SmartPay Program Certification (GSPCS)";
---

<BaseLayout title={pageTitle} description="Allows administrators to notify GSPC attendees to complete the requirements to receive a certificate.">
  <HeroTraining background_class='bg_smartpay_cool_grey'>
    {pageTitle}
    <span slot="subheader">
      Administrators
    </span>
  </HeroTraining>
  <AuthRequired client:only="vue">
    <AdminGSPC client:only="vue" />
  </AuthRequired>
</BaseLayout>
