---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import AuthRequired from '@components/AuthRequired.vue';

const pageTitle = "GSA SmartPay® Program Certification (GSPC)";
---

<BaseLayout title={pageTitle} description="Card/Account Holders and Approving Officials">
  <HeroTraining background_class='bg_smartpay_cool_grey'>
    {pageTitle}
    <span slot="subheader">
      Card/Account Holders and Approving Officials
    </span>
  </HeroTraining>
  <div class="padding-top-4 padding-bottom-4 grid-container">
    <h2>Coming soon</h2>
  </div>
  <AuthRequired client:only>
    
   </AuthRequired>
</BaseLayout>
