---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import AdminSearchUser from '@components/AdminSearchUser.vue';
import AuthRequired from '@components/AuthRequired.vue';

const pageTitle = "Admin Panel";
---

<BaseLayout title={pageTitle} description="GSA SmartPay admin panel for administrators">
  <HeroTraining background_class='bg_smartpay_cool_grey'>
    Admin Panel
    <span slot="subheader">
        Administrators
    </span>
  </HeroTraining>
  <AuthRequired client:only>
    <div class="padding-top-4 padding-bottom-4 grid-container">
      <ul class="usa-card-group">
        <li class="usa-card tablet:grid-col-6">
          <div class="usa-card__container">
            <div class="usa-card__header">
              <h4 class="usa-card__heading">Admin User Search</h4>
            </div>
            <div class="usa-card__body">
              <p>

              </p>
            </div>         
            <div class="usa-card__footer">
                <a href="admin/user_search" class="card_link usa-button" aria-label="TODO">
                  User Search
                </a>
            </div>
          </div>
        </li>
        <li class="usa-card tablet:grid-col-6">
          <div class="usa-card__container">
            <div class="usa-card__header">
              <h4 class="usa-card__heading">GSA SmartPay® Program Certification (GSPC)</h4>
            </div>
            <div class="usa-card__body">
              <p>

              </p>
            </div>
            <div class="usa-card__footer">
                <a href="admin/gspc" class="card_link usa-button" aria-label="TODO">
                  GSPC
                </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </AuthRequired>
</BaseLayout>
