---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import AuthRequired from '@components/AuthRequired.vue';
import AdminPanel from '@components/AdminPanel.vue';

const pageTitle = "Administrators Admin Panel";
---

<BaseLayout title={pageTitle} description="Allows SmartPay administrators to perform administrative tasks effectively.">
  <HeroTraining background_class='bg_smartpay_cool_grey'>
    Admin Panel
    <span slot="subheader">
        Administrators
    </span>
  </HeroTraining>
  <AuthRequired client:only="vue">
    <AdminPanel client:only="vue" />
  </AuthRequired>
</BaseLayout>
