---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import AuthRequired from '@components/AuthRequired.vue';

const pageTitle = "Admin Panel";
---

<BaseLayout title={pageTitle} description="GSA SmartPay admin panel for administrators">
  <HeroTraining background_class='bg_smartpay_cool_grey'>
    Admin Panel
    <span slot="subheader">
        Administrators
    </span>
  </HeroTraining>
  <AuthRequired client:only>
    <div class="padding-top-4 padding-bottom-4 grid-container">
      <ul class="usa-card-group">
        <li class="usa-card tablet:grid-col-6">
          <div class="usa-card__container">
            <div class="usa-card__header">
              <h4 class="usa-card__heading">User Maintenance</h4>
            </div>
            <div class="usa-card__body">
              <p>
                Allows administrators to search for users and view or manage their user permissions.
              </p>
            </div>         
            <div class="usa-card__footer">
                <a href={`${import.meta.env.BASE_URL}admin/user_search`} class="card_link usa-button">
                  Search for users
                </a>
            </div>
          </div>
        </li>
        <!-- <li class="usa-card tablet:grid-col-6">
          <div class="usa-card__container">
            <div class="usa-card__header">
              <h4 class="usa-card__heading">GSA SmartPay® Program Certification Management</h4>
            </div>
            <div class="usa-card__body">
              <p>
                Allows administrators to notify GSPC attendees to complete requirements and receive a certificate.
              </p>
            </div>
            <div class="usa-card__footer">
                <a href="./admin/gspc" class="card_link usa-button">
                  Manage GSPC attendees
                </a>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </AuthRequired>
</BaseLayout>
