---
import BaseLayout from '@layouts/BaseLayout.astro';
import HeroTraining from '@components/HeroTraining.astro';
import AdminSearchUser from '@components/AdminSearchUser.vue';
import AuthRequired from '@components/AuthRequired.vue';

const pageTitle = "User Search Admin Panel";
---

<BaseLayout title={pageTitle} description="Allows administrators to search for users and view or manage their permissions.">
  <HeroTraining background_class='bg_smartpay_cool_grey'>
    Admin Panel
    <span slot="subheader">
        User Search
    </span>
  </HeroTraining>
  <AuthRequired client:only="vue">
    <AdminSearchUser client:only="vue" />
   </AuthRequired>
</BaseLayout>
